@font-face {
    font-family: PingFang;
    src: url('./Font/PingFangSCLight/PingFangSCLight.ttf');
}
* {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
body p {
    font-family: PingFang;
}
img {
    width: 100%;
    height: 100%;
}
.container {
    max-width: 100%;
    padding: 0;
    overflow: hidden;
}
/* wrapper content */
.wrapper-title {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.wrapper-title img{
    width: 400px;
}
/* backgound wrapper */
.wrapper {
    border : 1px solid;
    padding: 50px 150px;
    background: url('./img/background.png') no-repeat;
    background-size: cover;
}
.wrapper-content {
    position: relative;
    border : 1px solid #FFF;
    padding: 100px 150px 50px;
}
.modal-body {
    padding: 0;
    background: #000;
}
.wrapper-items {
    margin-top: 15px;
}
.wrapper-content__bottom {
    margin-top: 20px;
    display: none;
}
/* end wrapper content */
/* button group */
.wrapper-button button{
    margin-top: 20px;
    width: 100%;
    background-image: linear-gradient(to top, #ffff4d, #ffff6b, #ffff85, #ffff9c, #ffffb3);
    border: none;
    height: 50px;
}
.wrapper-button {
    margin-top: 20px;
}
.button-group + .button-group {
    margin-top: 10px;
}

.wrapper-content__items {
    height: 100%;
    position: relative;
}
.wrapper-content-desc {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background: #fff;
    left: 0;
    right: 0;
}
/* end button */
/* Video */
.image-video {
    position : relative
}
.image-video:hover + .play-icon{
    opacity: 1;
}
.play-icon {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
    transition: 0.5s;
    font-size: 70px;
    opacity: 0;
    color:#fff;
}
.play-icon:hover {
    opacity: 1;
}
.video-wrapper {
    width: 100%;
    position : relative
}
.video-wrapper .image-video {
    height: 600px;
}
/* back ground video */
.video {
    padding: 50px 0px;
    background: url('./img/backgroundVideo.png');
}
.video .video-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffff4d;
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
}
.video .video-title p {
    position: relative;
    display: inline-block;
}
/* the line on title video */
.video .video-title p::after{
    margin-left: 20px;
    top: 50%;
    content: '';
    background: url(./img/right.png) no-repeat;
    position: absolute;
    width: 290px;
    height: 50px;
    zoom: 0.6;
    transform: translateY(-50%);
}
.video .video-title p::before{
    top: 50%;
    content: '';
    background: url(./img/left.png) no-repeat;
    position: absolute;
    width: 316px;
    height: 50px;
    zoom: 0.6;
    transform: translateY(-50%);
    right: 185px;
    margin-right: 20px;
}

.video .video-button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.video-button button {
    display: none;
    width: 200px;
    height: 50px;
    background-image: linear-gradient(to top, #ffff4d, #ffff6b, #ffff85, #ffff9c, #ffffb3);
    border: none;
}
/* end video */

/* responsive for screen */
@media only screen and (max-width: 1400px) {
   .wrapper {
       padding: 50px 100px;
   }
   .wrapper-content {
       padding: 100px 100px 50px;
   }
   .wrapper-content-desc {
       height: 45px;
   }
   .wrapper-content-desc p {
       font-size: 14px;
   }
}

@media only screen and (max-width : 992px) {
    .video-wrapper .image-video {
        height: 400px;
    }
    .wrapper-content-desc {
        height: 40px;
    }
    .wrapper-content-desc p {
        font-size: 14px;
    }
    .wrapper-content {
        padding: 70px 70px 20px;
    }
    .wrapper {
        padding: 50px 70px;
    }
}
@media only screen and (max-width : 850px) {
    .wrapper-content {
        padding: 70px 50px 20px;
    }
    .wrapper {
        padding: 50px 50px;
    }
    .wrapper-title img {
        width: 300px;
    }
}
@media only screen and (max-width : 776px) {
    .wrapper-items {
        display: none;
    }
    .wrapper-content__bottom {
        display: flex;
    }
    .wrapper-content-desc {
        height: 30px;
    }
    .wrapper-content-desc p {
        font-size: 12px;
    }
    .video-wrapper {
        border: 10px solid #dab074;
        border-radius: 30px;
    }
    .video-button button{
        display: block;
    }
    .video-wrapper .image-video {
        border-radius: 30px;
    }
    .video-title {
        position: static !important;
        transform: none !important;
    }
    .video {
        background: none;
    }
    .video {
        padding: 20px 0px;
    }
}

@media only screen and (max-width : 576px) {
    .wrapper-content {
        padding: 70px 20px 10px;
    }
    .wrapper {
        padding: 20px 20px;
    }
    .video .video-title p::after {
        zoom: 0.4;
    }
    .video .video-title p::before {
        zoom: 0.4;
        right: 295px;
    }
    .modal-body {
        padding: 30px;
    }
}